form {
  display: grid;
  gap: 4px;
  grid-template-areas: "i i i i i i b";
}

input {
  grid-area: i;
  padding: 12px;
  border-radius: 16px;
  word-break: break-all;
}

button {
  grid-area: b;
  border-radius: 16px;
}
